---
import HeadCommon from "../components/HeadCommon.astro";
import HeadSEO from "../components/HeadSEO.astro";
import Header from "../components/Header/Header.astro";
import Footer from "../components/Footer/Footer.astro";
import PageContent from "../components/PageContent/PageContent.astro";
import LeftSidebar from "../components/LeftSidebar/LeftSidebar.astro";
import RightSidebar from "../components/RightSidebar/RightSidebar.astro";
import * as CONFIG from "../config";

const { content = {} } = Astro.props;
const currentPage = new URL(Astro.request.url).pathname;
const currentFile = `src/pages${currentPage.replace(/\/$/, "")}.md`;
const githubEditUrl = CONFIG.GITHUB_EDIT_URL && CONFIG.GITHUB_EDIT_URL + currentFile;
---

<html dir={content.dir ?? "ltr" } lang={content.lang ?? "en-us" } class="initial">


<link rel=stylesheet
href=https://doks-child-theme.netlify.app/main.4f92e8015fa152e23e4d03a7858c1e3eb731f58ced6b39d83582c11edb24599da77c6ff64026e491a781f26c2e4f3e316091d76d756debd241f44aa252efc1ec.css
integrity="sha512-T5LoAV+hUuI+TQOnhYwePrcx9YztaznYNYLBHtskWZ2nfG/2QCbkkaeB8mwuTz4xYJHXbXVt69JB9EqiUu/B7A=="
crossorigin=anonymous><noscript>
<style>
	img.lazyload {
		display: none
	}
</style>
</noscript>

<head>
	<HeadCommon />
	<HeadSEO {content} canonicalURL={Astro.canonicalURL} />
	<!--<title>{content.title ? `${content.title} 🚀 ${CONFIG.SITE.title}` : CONFIG.SITE.title}</title> -->
	<title>Next</title>
	<link rel = "icon" href = 
"https://raw.githubusercontent.com/reitmas32/Next/dev/docs/next/public/next-logo-small.png" 
        type = "image/x-icon">
	<style>
		body {
			width: 100%;
			display: grid;
			grid-template-rows: var(--theme-navbar-height) 1fr;
			--gutter: 0.5rem;
			--doc-padding: 2rem;
		}

		.layout {
			display: grid;
			grid-auto-flow: column;
			grid-template-columns:
				minmax(var(--gutter), 1fr) minmax(0, var(--max-width)) minmax(var(--gutter), 1fr);
			overflow-x: hidden;
		}

		.layout :global(> *) {
			width: 100%;
			height: 100%;
		}

		.grid-sidebar {
			height: 100vh;
			position: sticky;
			top: 0;
			padding: 0;
		}

		#grid-left {
			position: fixed;
			background-color: var(--theme-bg);
			z-index: 10;
			display: none;
		}

		#grid-main {
			padding: var(--doc-padding) var(--gutter);
			grid-column: 2;
			display: flex;
			flex-direction: column;
			height: 100%;
		}

		#grid-right {
			display: none;
		}

		:global(.mobile-sidebar-toggle) {
			overflow: hidden;
		}

		:global(.mobile-sidebar-toggle) #grid-left {
			display: block;
			top: 2rem;
		}

		@media (min-width: 50em) {
			.layout {
				overflow: initial;
				grid-template-columns:
					20rem minmax(0, var(--max-width));
				gap: 1em;
			}

			#grid-left {
				display: flex;
				padding-left: 2rem;
				position: sticky;
				grid-column: 1;
			}
		}

		@media (min-width: 72em) {
			.layout {
				grid-template-columns:
					20rem minmax(0, var(--max-width)) 18rem;
				padding-left: 0;
				padding-right: 0;
				margin: 0 auto;
			}

			#grid-right {
				grid-column: 3;
				display: flex;
			}
		}
	</style>
</head>

<body>
	<Header {currentPage} />
	<main class="layout">
        <div  role=document id="grid-main">
            <div class=content>
                <section class="section container-fluid mt-n3 pb-3">
                    <div class="row justify-content-center">
                        <div class="col-lg-12 text-center">
                            <h1 class=mt-0>Next Package Manger</h1>
                        </div>
						<p class="lead text-center">Next is a C/C++ project manager, it is designed as a solution to the
							administration that this type of projects require.</p>
                        <div class="col-lg-9 col-xl-8 text-center">
							<a class="btn btn-primary btn-lg px-4 mb-2" href="/en/get_started/install" role=button>Get
                                Started</a>
                            <p class=meta>Python Software Foundation License <a
                                    href=https://github.com/reitmas32/Next>GitHub v3.3.4</a></p>
                        </div>
                    </div>
                </section>
            </div>
			<div class="row justify-content-center text-center">
				<div class=col-lg-5>
					<h2 class=h4>Multi Platform 💻</h2>
					<p>Create with
						<a href=https://www.python.org />Python</a>
						and Publish in
						<a href=https://pypi.org/project/next-pm />PyPi</a>.
						So it has an easy, installation and update.
					</p>
				</div>
				<div class=col-lg-5>
					<h2 class=h4>Open Source 🍃</h2>
					<p>Next is a Open Source. Anyone who wants to participate in its development can do so.</p>
				</div>
				<div class=col-lg-5>
					<h2 class=h4>CLI</h2>
					<p>Easy to use CLI plus future GUI for ease of use.</p>
				</div>
			</div>
			<div class="row justify-content-center text-center">
				<div class=col-lg-5>
					<h2 class=h4>Constant Updates</h2>
					<p>Next is in constant development and bug fixes you can follow the work on
						<a href=https://github.com/reitmas32/Next/issues>Issues</a>.
					</p>
				</div>
				<div class=col-lg-5>
					<h2 class=h4>Builders ⚙️</h2>
					<p>Next will support several Builders and will also provide an API to be able to extend them by the
						community.</p>
				</div>
			</div>
        </div>
	</main>

	<Footer/>
</body>

</html>